h1 {
  text-align: center;
}
img {
  width: 200px;
  height: 150px;

}

.yum_name {
  font-size: 20px;
  text-align: center;
}

#yum_container {
  background-color: lightblue;
  /* border-color: black;
  border-style: solid; */
  height: 400px;
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
}

#ingredients_container {
  background-color: yellow;
  border-color: black;
  border-style: solid;
  height: 400px;
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.yum_card {
  /* border-color: red;
  border-style: solid; */
  background-color: teal;
  height: 250px;
  width: 200px;
  margin: 40px;
  border-radius: 30px;
}

img:hover{
  webkit-filter: blur(4px); /* Chrome, Safari, Opera */
  filter: blur(4px);
}
